<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Form complete</title>

    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="section no-pad-bot white" id="index-banner">
        <div class="container">
            <br>
            <div class="row center">
                <img class="col s12" src="css/samsclublogo.png" alt="Sams Club">
            </div>
            <br><br>
            <div class="row center">
                <i class="fa fa-5x fa-address-card-o col s2" aria-hidden="true"></i>
                <i class="fa fa-check-circle-o fa-3x col s2" aria-hidden="true"></i>
                <h5 class="header light col s8">Your membership </n> #01234567891234567</h5>
            </div>
            <br>
            <h5 class="header col s12 light center">Pickup your Membership card at the Member Services desk</h5>
            <br><br><br>
            <h5 class="center">Available today:</h5>
            <h5 class="center" style="font-weight: 700">New Member Treasure Hunt</h5>
            <br>
            <div class="row center">
                <a href="https://www.samsclub.com/play/login" class="btn-large waves-effect waves-light green col s12">Play now</a>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>